<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	</configSections>
	<connectionStrings>
		<add name="DefaultConnection" connectionString="Data Source=.;Initial Catalog=StockAppDb;User ID=sa;Password=123.qaz;Integrated Security=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>	
</configuration>
